@import "vars"

body
	font-size: 14px
	margin: 0
	font-family: $default-font
h1, h2, h3
	margin: 0
	font-weight: 800
	font-family: $header-font
h1
	font-size: 40px
	line-height: 44px
h2
	font-size: 32px
h3
	font-size: 18px
section
	width: 100%
	display: flex
	justify-content: center
	padding: 100px 0	
	.description
		line-height: 20px
		margin-top: 8px			
	&.first
		background-color: #EFF1F2
	&.second
		background-color: #FFFFFF
	&.portfolio
		background-color: #25282A
	&.contacts
		background-color: #EFF1F2
.container
	width: 100%
	margin: 0 150px
	max-width: 700px
	display: flex
	flex-direction: column
	align-items: center

a
	

a.button
	font-size: 18px
	line-height: 24px
	font-family: $header-font
	font-weight: 800
	letter-spacing: 1px
	text-decoration: none
	text-transform: capitalize
	padding: 14px 0
	width: 280px
	border-radius: 4px
	text-align: center
	color: #ffffff
	background-color: $accent
	transition: all .2s ease
	&:hover
		background-color: $hover
		text-decoration: none
	&:active
		background-color: $accent
		opacity: 0.7
	
.img-wrap
	overflow: hidden
	img
		width: 100%

section.first
	padding: 0
	min-height: 100vh
	display: flex
	align-items: center
	text-align: center
	.my-photo
		width: 340px
		height: 340px
		border-radius: 100%
	.name
		margin-top: 36px
	.button
		margin-top: 20px

section.second
	.container
		display: block
	.table
		margin-top: 16px
		&-item
			padding: 10px 0
			position: relative
			&:before
				position: absolute
				top: 0
				left: 0
				width: 100%
				height: 1px
				background-color: #D2D9E2
				content: ""
			&.active
				.table-item-content
					display: block
				.table-item-title
					color: #000000
				.table-item-control
					transform: rotate(45deg) 
					&:before, &:after
						background-color: #000000
			&-head
				display: flex
				justify-content: space-between
				align-items: center
			&-control
				width: 16px
				height: 16px
				cursor: pointer
				position: relative
				transition: all .3s ease
				&:before, &:after
					position: absolute
					background-color: $accent
					content: ""
				&:before	
					top: 0
					left: 7px
					width: 2px
					height: 16px
				&:after
					top: 7px
					left: 0
					width: 16px
					height: 2px
			&-content
				display: none
				font-size: 14px
				line-height: 20px
				margin-top: 10px
			&-title
				color: $accent
				text-transform: capitalize
				font-family: $header-font
				font-weight: 800
				font-size: 18px
				line-height: 24px
			&-content
				max-width: 520px

@import "media" 
